* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red !important; */
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#form {
    background-color: orange;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#form > * {
    margin-block: 10px;
    width: 80%;
}

.bi-plus-square-fill {
    font-size: 40px;
}

.bi-plus-square-fill:hover {
    cursor: pointer;
}